<h1>Eat-Da-Burger</h1>

{{!-- <ul>
  {{#each burgers}}
    {{#unless descrip}}
      {{> burgers/burgers-block descrip=false}}
    {{/unless}}
  {{/each}}
</ul> --}}


<ul>
  {{#each burgers}}
    {{#if descrip}}
      {{> burgers/burgers-block descrip=false}}
    {{/if}}
  {{/each}}
</ul>

<form class="create-form">

  <div class="form-group">
    <label for="burgers">Burger Name:</label>
    <input type="text" id="burgers" name="name">
  </div>

  <div class="form-group">
    <label for="descrip"></label><br>
    <input type="radio" name="descrip" value="1" checked> Sleepy!<br>
    <input type="radio" name="descrip" value="0"> Devour
  </div>

  <button type="submit">Devour</button>
  <button class="delete-burgers" data-id="{{this.id}}">DELETE!</button>

</form>
